@model UtopiaCity.ViewModels.Business.Company.CompanyInfoViewModel

<h1>Company information</h1>

<h3>@Model.Title</h3>

<h4>@Model.Description</h4>
<h5>@Model.CompanyType</h5>
<h5>@Model.CompanyActivity</h5>

@foreach(var position in Model.Positions)
{
    <h3>@position.Title</h3>
    <h3>@position.Description</h3>
}

<a class="nav-link text-dark" asp-controller="Position" asp-action="CreatePosition" asp-route-companyId="@Model.Id">Create Position</a>