@using UtopiaCity.TagHelpers
@model IEnumerable<UtopiaCity.Models.Emergency.EmergencyReport>

@{
    ViewData["Title"] = "ListEmergencyReportView";
}

<h1>ListEmergencyReportView</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div Condition="false">
        <p>Condition is set to true</p>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
